@font-face {
    font-family: 'montserra';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'montserra-bold';
    src: url(../fonts/Montserrat-Bold.ttf)
}

.navbar-computer {
    background-color: whitesmoke;
    width: 100%;
    top: 0;
    padding: 10px;
    text-align: center;
    color: darkgrey;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: montserra-bold, sans-serif;
    position: fixed;
    z-index: 1001;
    -moz-box-shadow: 0 2px 5px 0 #501402;
    -webkit-box-shadow: 0 2px 5px 0 #501402;
    -o-box-shadow: 0 2px 5px 0 #501402;
    box-shadow: 0 2px 5px 0 #501402;
}

.navbar-computer, .navbar-computer ul {
    height: 50px;
    margin: 0;
    padding: 0;
}

.navbar-computer ul li a {
    color: rgba(71, 71, 71, 0.59);
    text-decoration: none;
}

.navbar-computer .li-nav {
    list-style-type: none;
    display: inline;
    padding: 0 2vw;
    font-family: code, sans-serif;
    font-size: 1.7vw;
}

.navbar-responsive a:visited, .navbar-responsive a:hover, .navbar-responsive a {
    color: grey;
}

.navbar-responsive ul {
    height: 100%;
    padding: 0;
}

.navbar-responsive {
    background-color: whitesmoke;
    width: 300px;
    height: 100%;
    top: 0;
    padding: 10px;
    text-align: center;
    color: darkgrey;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: montserra-bold, sans-serif;
    position: fixed;
    z-index: 1001;
    -moz-box-shadow: 0 2px 5px 0 #501402;
    -webkit-box-shadow: 0 2px 5px 0 #501402;
    -o-box-shadow: 0 2px 5px 0 #501402;
    box-shadow: 0 2px 5px 0 #501402;
    display: none;
}

.navbar-responsive .li-nav {
    list-style-type: none;
    display: block;
    padding: 5%;
    font-family: code, sans-serif;
    font-size: 2em;
}

.navbar-computer i {
    padding: 5px;
    display: none;
    font-size: 35px;
    float: right;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}

.navbar-computer i:hover {
    color: slateblue;
}

#greyed {
    position: fixed;
    background-color: rgba(54, 54, 54, 0.89);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

body {

    font-family: montserra, sans-serif;
    overflow-x: hidden;
    width: 100%;
    background: rgba(50, 132, 191, 0.12) 50% 50% no-repeat;
    font-size: 1.5em;
}

.main-title {
    color: slategray;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 15%;
}

.main {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #FFF;
    min-width: 80%;
}

.social li {
    display: inline;
}

.social img {
    width: 3vw;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.social img:hover {
    width: 4vw;
}

.logo {
    width: 20px;
    margin: 0 10px;
}

li {
    list-style-type: none;
    padding: 15px;
}



.navbar-responsive .btn-nav:hover {
    color: black;
}

.btn-nav {
    height: 50px;
    background-color: transparent;
    border: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.navbar-computer .btn-nav:hover {
    background-color: lightgrey;
    color: white;
}

.btn-nav:focus {
    outline: none;
}

.name, .school, .place, .age, .what, .cv {
    top: 20%;
    font-size: 4vw;

    color: #323232;
    padding: 10px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.d-dl {
    padding: 5px;
}

/*.name {
    color: #340D01;
}

.age {
    background-color: #783A26;
}

.school {
    background-color: #572110;
}

.place {
    background-color: #501402;
}

.what {
    background-color: #431102;
}*/

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cv {
    background-color: #2c0b01;
    display: block;
    width: 40%;
    margin: 10px 0;
}

.middle {
    position: absolute;
    margin: 10% 15%;
}

.tec {
    margin-top: 70px;
}

.pres-ul {
    padding: 0;
}

li[data-target='#coordonnees'] {
    cursor: pointer;
}

li[data-target='#coordonnees']:hover {
    text-decoration: underline;
}

.modal-body li, .modal-body a {
    color: #000;
}

.cv {
    width: 100%;
}

#cv-img {
    background-image: url('../img/cv.png');
    background-size: cover;
}

#cv-img, .overlay {
    height: 370px;
}

#project-list {
    width: 80vw;

}

.overlay {
    background-color: rgba(10, 10, 10, 0.8);
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    text-align: center;
    top: 50%;
    padding: 30px;
    overflow: auto;
}

.overlay .download {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2vw;
}

.download a {
    padding: 0 10px;
}

.overlay-trigger:hover > .overlay {
    opacity: 1;
}

#language-list{
    width:100%;
    display: table;
}


.exc{
    background-color: green;
    color: #FFF;
}

.good{
    background-color: #6b9d1d;
    color: #FFF;
}

.med{
    background-color: yellowgreen;
    color: #110;
}


.li-language {
    width: 212px;
    font-size: 1.5em;
    border-radius: 50%;
    height:200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.project-links {
    color: #000 !important;
}

#mmorpg {
    background-image: url("../img/mmorpg.png");
    background-size: cover;
}

#cgame {
    background-image: url("../img/2048.png");
    background-size: cover;
}

#urlm {
    background-image: url("../img/urlm.png");
    background-size: cover;
}

#project-list {
    position: absolute;
    top: 30%;
    color: #110;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;
}

#project-list {
    /*line-height: 370px;*/
}

.project-li {
    padding: 0;
    margin: 10px 0;
    display: block;
}

#container {
    margin-top: 200px;
}

@media (max-width: 1000px) {
    .navbar {
        font-size: 2vw;
    }
}

#send {
    float: right;
    margin: 10px 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border: solid midnightblue 1px;
    padding: 5px 15px;
    color: #000332;
    font-size: 1.5em;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#send:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#table-exp {
    position: absolute;
    top: 200px;
    width: 100%;
}

#table-exp td {
    padding: 5% 10%;
    font-size: 2em;
    text-align: justify;
}

.img-td {
    padding: 1% !important;
    text-align: center !important;
}

#logo-exp {
    width: 50%;
}

.align-left {
    text-align: left;
}

.btn-cv {
    display: inline;
    color: #FFF;
    margin-top: 10px;
    background-color: rgba(67, 17, 2, .5);
    border: solid black 1px;
    font-size: 2em;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all 4s;
    transition: all .4s;
}

.btn-cv:hover {
    background-color: #915643;
}

a.download-cv:hover {
    text-decoration: none;
}

.pres {
    font-size: 1.5em;
    text-align: justify;
}

#project-list td {
    width: 500px;
    height: 50%;
    padding: 10px;
    text-align: justify;
}

#project-list tr {
    min-height: 400px;
    margin: 10px 0;
}

#mmorpg, #cgame, #urlm {
    min-height: 350px;
}

.contact-form {
    display: table;
    margin-top: 5px;
    margin-bottom: 5px;
}

.d-dl {
    display: none;
}

input[type=submit] {
    background-color: #915643;
    color: #FFF;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: solid #340D01 1px;
    padding: 5px;
    margin: 5px;
}

input[type=submit]:hover {
    background-color: #b14320;
}

.alert {
    position: absolute;
    top: 70px;
    z-index: 200;
    left: 10px;
    right: 10px;
}

#mail-success, #mail-failure {
    display: none;
}

#hide, #send-mail-button {
    display: none;
}

.btn-cv img {
    height: 1em;
}

/*@media (max-width: 700px) {

    .li-language {
        width: 100%;
    }

    .navbar {
        height: auto;
    }

    .navbar ul {
        height: auto;
    }

    .li-nav {
        display: block;
        font-size: 14px;
    }

    .middle {
        margin: 10% 0;
        font-size: 10px;
    }

    #hide {
        display: block;
        margin: 5px;
        font-weight: lighter;
        color: #000;
        font-family: "Arial", serif;
        cursor: pointer;
    }

    #show-menu {
        position: absolute;
        top:1%;
        right:1%;
        color: #FFF;
    }

    #project-list td {
        display: inline;
        width: inherit;
    }

    #project-list tr {
        border-bottom: dashed;
    }

    #form-mail, #ormailto {
        display: none;
    }

    .main-title {
        font-size: 24px;
    }

    .social {
        width: 100%;
    }

}*/

@media screen and (max-device-width: 400px) {
    body {
        background: #e18e66;
    }

    .li-language {
        width: 100%;
    }

    .navbar {
        height: 100%;
        display: none;
        border-radius: 0;
    }

    .navbar ul {
        height: auto;
    }

    .li-nav {
        display: block;
        font-size: 4vh;
        padding: 4vh;
    }

    .middle {
        margin: 10% 0;
        font-size: 10px;
    }

    #hide {
        display: block;
        margin: 5px;
        font-weight: lighter;
        color: #000;
        font-family: "Arial", serif;
        cursor: pointer;
    }

    #show-menu {
        position: absolute;
        top: 1%;
        right: 1%;
        font-size: 20px;
    }

    #project-list td {
        display: inline;
        width: inherit;
    }

    #project-list tr {
        border-bottom: dashed;
    }

    #form-mail, #ormailto {
        display: none;
    }

    .main-title {
        font-size: 24px;
    }

    .social {
        width: 100%;
    }

    .name, .age {
        width: 20%;
        font-size: 4vw;
    }

    .school {
        width: 58%;
        font-size: 4vw;
    }

    .what {
        width: 100%;
        font-size: 4vw;
    }

    .btn-cv {
        width: 100%;
        font-size: 4vh;
    }

    .pres {
        font-size: 3vh;
    }

    h2 {
        font-size: 4vh;
        padding-top: 4vh;
        padding-bottom: 1vh;

    }

    .main-title {
        position: relative;
        margin-top: 8%;
        font-size: 5vh;
    }

    a {
        text-decoration: underline;
    }

    #project-list {
        position: relative;
        top: 0;
        color: #110;
        left: 0;
        transform: translateX(0%);
        padding-left: 0;

        margin: 0 20px;
        width: 95%;
    }

    #form-mail {
        display: none;
    }

    #send-mail-button {
        display: block;
    }

    #send-mail-button button {
        font-size: 4vh;
        margin: 60px 0;
    }

    .social {
        padding: 0;
    }

    .social li {
        font-size: 4vh;
    }

    #container {
        margin-top: 0;
    }

    #table-exp {
        position: relative;
        top: 0;
    }

    #table-exp td {
        font-size: 3vh;
    }
}