<h1 class="main-title">Comment me contacter ?</h1>

<ul class="social main">
    <li><a href="http://lnkdin.me/vemile" target="_blank"><img src="web/img/linkedin.png"  class="logo" alt="">Linkedin</a></li>
    <li><a href="https://plus.google.com/+VincentEmile" target="_blank"><img src="web/img/gplus.png" alt="" class="logo">Google Plus</a></li>

    <br>
    <!--<li data-toggle="modal" data-target="#coordonnees"><img src="web/img/phone.png" alt="" class="logo">Afficher les coordonnées</li>-->
    <form action="srv/mail.php" method="post">
        <label class="contact-form" for="name">Nom</label>
        <input type="text" id="name" placeholder="DUPONT Jean-Philippe" class="form-control" name="name">
        <label class="contact-form" for="mail">Mail</label>
        <input type="email" id="mail" placeholder="dupont@jp.com" class="form-control" name="mail">
        <label class="contact-form" for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
        <input type="submit" value="Envoyer">
    </form>


</ul>
<div class="modal fade" id="coordonnees" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Coordonnées</h4>
            </div>
            <div class="modal-body">
                <li><img src="web/img/map.png" alt="" class="logo"><a href="https://www.google.fr/maps/place/1+Square+Charles+Delaunay,+92600+Asni%C3%A8res-sur-Seine/@48.9071892,2.3149091,15z/data=!4m2!3m1!1s0x47e66f15275a60cf:0xaa18a8468dc39b59" target="_blank">1, Square Charles Delaunay,92600, Asnières-sur-Seine</a></li>
                <br>
                <li style="left: 0;"><a href="mailto:vl.emile@gmail.com" target="_blank"><img src="web/img/mail.png" alt="" class="logo">vl.emile@gmail.com</a></li>
                <li style="right: 0;"><img src="web/img/phone.png" alt="" class="logo">06 36 95 70 23</li>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

