<div>
    <h1 class="main-title">{{title}}</h1>

    <table id="table-exp">
        <tr>
            <td class="align-left">
                <h2>Assistant technique de l'equipe MOA chez <a href="http://www.psa-peugeot-citroen.com/fr"
                                                                class="project-links">PSA Peugeot Citroën</a></h2>
                J'ai effectué deux ans d'apprentissage chez PSA Peugeot Citroën, en tant qu'apprenti sur le projet
                Corail, dans le cadre de mon DUT Informatique en alternance.<br>
                <strong>Mes missions</strong> étaient les suivantes : analyse ergonomique d'un ERP développé par le
                groupe,
                développement de maquettes, en HTML, CSS et JavaScript, de ce même ERP, analyse de données via des
                requêtes SQL, génération de graphiques.
            </td>
            <td class="img-td">
                <img src="web/img/psalogo.png" alt="">
            </td>
        </tr>
        <tr>
            <td class="align-left">
                <h2>Apprenti développeur chez <a href="http://www.3ds.com/" class="project-links">Dassault Systèmes</a>
                </h2>
                Je suis actuellement en contrat d'apprentissage, au sein de l'équipe Enovia, qui est notamment en charge
                du développement d'un composant de la 3DExperience Platform. Mes missions sont composées essentiellement
                de développement JavaScript.
        </td>
            <td class="img-td">
                <img src="web/img/3dslogo.png" alt="">
            </td>
        </tr>
    </table>
</div>