<div class="middle">
    <ul class="pres-ul">
        <li class="name">
            Vincent EMILE
        </li>
        <li class="age">
            <script>age()</script> ans
        </li>
        <li class="school">
            EPSI PARIS
        </li>
        <li class="what">
            Apprenti Développeur
        </li>
        <div id="d-div-cv">
            <button class="btn-cv">Télécharger mon CV</button>
            <span class="d-dl"><button id="pdf" class="download-cv btn-cv"
                                  download><img src="web/img/pdf.png" alt=""></button></span>
            <span class="d-dl"><button id="docx" class="download-cv btn-cv"
                                  download><img src="web/img/word.png" alt=""></button></span>
        </div>
        <li class="pres">
            <h2>Présentation</h2>
            Je m'appelle Vincent EMILE, et suis actuellement étudiant en 3e année à l'<a class="project-links" target="_blank" href="http://www.epsi.fr/">EPSI Paris</a>. <br>
            J'ai commencé l'informatique à l'age de 17 ans, en classe de Terminale.
            J'ai commencé à l'apprendre par curiosité, et ai continué par passion. J'ai une préférence pour le
            développement WEB,
            et l'architecture des systèmes d'information.
            <br><br>
            J'ai effectué deux années d'IUT à l'Université Paris XIII à Villetaneuse, durant lesquelles j'ai pu me former aux bases de l'informatique. Pas seulement le développement, mais aussi les concepts tels que la Programmation Orientée Objet. <br>
            Je suis actuellement en 3e année d'informatique, à l'EPSI Paris (Levallois-Perret), en alternance.
            <h2>Projets Professionnels</h2>
            Passionné par l'apprentissage de nouvelles technologies, je poursuis ma formation, autant scolaire que professionnelle dans le but de progresser en développement informatique, et principalement dans les langages du web. 

        </li>
    </ul>

</div>

<script>
    $(function(){
        $('.btn-cv').click(function () {
            $('.d-dl').fadeIn();
        });
        $('.download-cv').click(function(){
            window.location = "srv/download.php?type="+$(this).attr('id');
        });
    });
</script>



