<script src="script/app.js"></script>
<h1 class="main-title">Réalisations</h1>

<div>
        <table id="project-list">
            <tr>
                <td>
                    <div id="mmorpg"></div>
                </td>
                <td class="project-li"><a href="https://github.com/palra/univ-mmorpg" target="_blank">Univ-MMORPG</a> | Java <br><br><br>
                    Un MMORPG <i>pas très MMO</i>, jouable à plusieurs joueurs. Le concept est simple : plusieurs joueurs
                    qui font s'affronter deux types de personnages : Warrior ou Healer. <br>
                    Chaque personnage peut récupérer des items sur une carte, et les utiliser en tant qu'armes, boucliers ou
                    potions.
                    <br><br>
                    Ce projet a été réalisé en duo.</td>
            </tr>
            <tr>
                <td>
                    <div id="cgame"></div>
                </td>
                <td><a href="https://gitlab.com/drattak/2048.git" target="_blank">2048</a> | C <br><br><br>
                    Adaptation du célèbre jeu 2048 en C, lors du 1er semestre de DUT Informatique.
                    Il est possible de jouer avec une grille de la taille de notre choix (4x4,5x5, etc.). Ce jeu est jouable
                    en terminal avec les flèches directionnelles. <br><br>
                    Ce jeu a également été réalisé en duo.</td>
            </tr>
            <tr>
                <td>
                    <div id="urlm"></div>
                </td>
                <td>
                    <a href="https://github.com/domotique-s3/dbCharts" target="_blank">dbCharts</a>, <a href="https://github.com/domotique-s3/dbData" target="_blank">dbData</a>,
                    <a href="https://github.com/domotique-s3/URLM" target="_blank">URL Maker</a> | PHP, Javascript, HTML/CSS
                    <br><br><br>
                    Ce projet a pour but de générer des graphiques avec des valeurs directement prélevées dans une base de données
                    hébergée sur le même serveur. Ce projet se découpe en trois sous-parties : <a href="https://github.com/domotique-s3/dbData" target="_blank">dbData</a>,
                    qui récupère les valeurs de la base de données et les retourne en <a href="https://developer.mozilla.org/fr/docs/JSON" target="_blank">Json</a>,
                    <a href="https://github.com/domotique-s3/dbCharts" target="_blank">dbCharts</a>, qui recupère les valeurs renvoyées par dbData,
                    pour générer des graphiques avec <a href="http://www.highcharts.com/">HighCharts</a>, et <a href="https://github.com/domotique-s3/URLM" target="_blank">URL Maker</a>,
                    qui propose une interface pour générer plus facilement son url. L'URL générée est ensuite envoyée à dbCharts,
                    qui va afficher un graphique sur la page.
                    <br> <br>
                    Ce projet a été réalisé par une équipe de 5 étudiants.
                </td>

            </tr>
        </table>

</div>