<h1 class="main-title">{{title}}</h1>
<!-- <div id="container" width="100%"></div>-->
<script src="script/chart.js"></script>
<script src="script/app.js"></script>
<script src="web/css/style.css"></script>
<div class="middle">
    <ul data-ng-app="app" id="language-list">
        <li class="li-language exc" id="HTML" ng-controller="htmlController">
            HTML
        </li>
        <li class="li-language exc" id="CSS">
            <br>
        </li>
        <li class="li-language good" id="JS">

        </li>
        <li class="li-language good" id="PHP">
        </li>
        <li class="li-language good" id="Java">

        </li>
        <li class="li-language good" id="SQL">

        </li>
        <br>
        <li class="li-language med" id="Android">

        </li>
    </ul>

</div>
